$gray       : #BCBDAC
$pink       : #F02475
$orange     : #F27435
$yellow     : #CFBE27
$dark       : #3B2D38
$near-white : darken(#fff, 10%)
$near-black : lighten(#000, 10%)
$darken     : rgba(#000, 0.2)
$lighten    : rgba(#fff, 0.2)

$detail-text: $near-white

// Width of the left border of list items
$line-width: 0.65em

body
    background: $dark
.list
    +background(linear-gradient(left, rgba($near-black, 0.5), rgba($near-black, 0) 2%, rgba($near-black, 0) 98%, rgba($near-black, 0.5)), $gray)
    color: $near-black
.detail
    background: $dark
    color: $detail-text
.add
    color: $near-black
    +transition(color 0.2s ease-out 0.1s)
    &:hover
        color: $pink
.color-slider
    +transition(width 0.5s ease-out 0.1s)
.list
    a
        +transition(color 0.2s ease-out 0.1s)
    a:link, a:visited
        color: $near-black
    a:hover, .active a
        color: $near-white

.list li input[type="text"]:focus
    background: $lighten

// List left border styling
.list li.today
    border-left: $line-width solid $pink
.list li.soon
    border-left: $line-width solid $orange
.list li
    // Default list item styling
    +transition(color 0.2s ease-out 0.1s)
    border-left: $line-width solid $yellow