@import breakpoint

// Breakpoint variables
$large-desktop  : 1300px
$desktop        : 1025px
$tablet         : 768px

*
    +box-sizing(border-box)

html, body
    height: 100%

#list-head
    +clearfix
    position: relative
    h1
        float: left

li
    padding: 0.5em

.list, .detail
    padding: 1em
    height: 100%

.detail
    padding-top: 8em
    display: none

.list
    width: 96%
    margin: 0 auto
    a
        display: block
    li
        position: relative
        +transition(opacity 0.2s ease-out)
        form
            position: relative
            z-index: 51
            input[type="text"]
                background: none
                border: none
                outline: none
                margin: 0
                width: 100%
.new-item
    opacity:0

+breakpoint($tablet)
    .list, .detail
        float: left
    .detail
        width: 49%
        display: block
    .list
        width: 50%
        padding-left: 1.5em
        padding-right: 0.5em
        li
            margin-right: 1em

+breakpoint($desktop)
    .detail
        width: 59%
        padding-left: 3em
        padding-right: 3em
    .list
        width: 40%

+breakpoint($large-desktop)
    .detail
        width: 66%
        padding-left: 6em
        padding-right: 6em
    .list
        width: 33%