@import breakpoint

// Breakpoint variables
$large-desktop  : 1300px
$desktop        : 1025px
$tablet         : 768px

*
    +box-sizing(border-box)

html, body
    height: 100%

#list-head
    +clearfix
    position: relative
    h1
        float: left

.list, .detail-column
    padding: 1em
    height: 100%

.detail-column
    padding-top: 8em
    display: none

.list
    width: 96%
    margin: 0 auto
    a
        display: block
    li
        position: relative
        padding: 0.5em
        +transition(opacity 0.2s ease-out, top 0.2s ease-out)
        form
            position: relative
            z-index: 51

input[type="text"], #details
    background: none
    resize: none
    border: none
    outline: none
    margin: 0
    padding: 0
    width: 100%

#details
    height: 11em
    display: none

#intro
    display: none

// todo Commented until I can fix the new item animation
// .new-item
//     opacity: 0

+breakpoint($tablet)
    .list, .detail-column
        float: left
    .detail-column
        width: 49%
        display: block
    .list
        width: 50%
        padding-left: 1.5em
        padding-right: 0.5em
        li
            margin-right: 1em
    #intro
        display: block

+breakpoint($desktop)
    .detail-column
        width: 59%
        padding-left: 3em
        padding-right: 3em
    .list
        width: 40%

+breakpoint($large-desktop)
    .detail-column
        width: 66%
        padding-left: 6em
        padding-right: 6em
    .list
        width: 33%