$line-width: 0.65em

.today
    border-left: $line-width solid $pink
    &.active
        background: $pink
.soon
    border-left: $line-width solid $orange
    &.active
        background: $orange
.later
    border-left: $line-width solid $yellow
    &.active
        background: $yellow
.add
    float: right
    +adjust-font-size-to(32px)
    position: absolute
    top: 20%
    right: 0