$line-width: 0.65em

html, body
    height: 100%
.list, .detail
    padding: 1em
    height: 100%
.detail
    padding-top: 8em

li
    padding: 0.5em
.today
    border-left: $line-width solid $pink
    border-bottom: 1px solid $near-black
.soon
    border-left: $line-width solid $orange
.later
    border-left: $line-width solid $yellow